.page-header {
  background-image: url(./../../../public/images/main-header-bgd.jpg);
  background-size: cover;
  background-position: center;
  min-width: 320px;

  &__title {
    padding-top: 71px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #ffffff;

    @media (min-width: 1200px) {
      padding-right: 227px;
    }
  }

  &__subtitle {
    padding-bottom: 71px;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: #ffffff;

    @media (min-width: 1200px) {
      padding-right: 227px;
    }
  }
}
