* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$media-tablet: 768px;
$media-desktop: 1200px;

.container {
  padding: 0 20px;
  max-width: 365px;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $media-tablet) {
    max-width: 700px;
  }

  @media (min-width: $media-desktop) {
    max-width: $media-desktop;
  }
}
